@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
}

:root{
    --primary: #D70044;
    --secundary: #030C17;
    --terciary: #091F35;
    --darker-secundary: #01050A;
    --text: #eeeeee;
    --secundary-background: #D9E1EA;
    --secundary-background-hover: #b8c4d1;
    --maxWidth: 1440px
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--text);
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

main{
    width: 100vw;
    overflow: hidden;
}

.containerExpanded{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    width: 100%;
    max-width: var(--maxWidth);
}

.title{
    font-size: clamp(24px, 6vw, 36px);
    font-weight: 600;
    color: var(--terciary);
    margin-bottom: 1rem;
}

.text{
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 400;
    color: var(--terciary);
    margin-bottom: 1rem;
}

li{
    list-style: none;
}

a{
    color: unset;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scroll */
}

/* Estilo del "track" (fondo de la barra de scroll) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo */
    border-radius: 6px; /* Bordes redondeados */
}

/* Estilo del "thumb" (el área que se arrastra) */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del "thumb" */
    border-radius: 6px; /* Bordes redondeados */
}

/* Estilo del "thumb" cuando se pasa el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del "thumb" al hacer hover */
}